html{
    overflow-x:hidden;
}

.cabecalho {
    background-color: rgb(0,73,148);
    height: 60px;
}

.caixa{
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.cabecalho img {
    position: relative;
    height: 57px;
    cursor: pointer;
}

.botoesCabecalho {
    position: absolute;
    right: 0;
    top: 20px;
}

.botoesCabecalho li{
    text-decoration: none;
    display: inline;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
}

.botoesCabecalho li a {
    text-decoration: none;
    color: whitesmoke;
}

.botoesCabecalho li:hover{
    padding: 0;
    text-decoration: underline whitesmoke;
    cursor: pointer;
}

.barraLateral {
    position: fixed;
    right: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    background-color: rgb(0, 73, 148);
    transition: all .5s ease;
}

.barraLateral ul a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 500;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
}

.barraLateral li{
    font-family: 'Roboto Condensed', sans-serif;
}

.barraLateral ul li:hover a{
    padding-left: 50px;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
}

label #btn {
    display: none;
    right: 40px;
    top: 5px;
    font-size: 50px;
    color: whitesmoke;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    right: -205px;
    top: 65px;
    font-size: 30px;
    transition: all .5s ease;
}

#check:checked ~ .barraLateral {
    right: 0;
}

#check:checked ~ label #btn {
    right: 200px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    right: 205px;
    display: block;
}

@media (max-width: 600px){
    .botoesCabecalho{display: none;}
    label #btn{display: block;}
}