.cabecalho {
    background-color: rgb(0,73,148);
    height: 60px;
}

.caixa{
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.cabecalho img {
    position: relative;
    height: 60px;
    cursor: pointer;
}

.botoesCabecalho {
    position: absolute;
    right: 0;
    top: 20px;
}

.botoesCabecalho li{
    text-decoration: none;
    display: inline;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
}

.botoesCabecalho li a {
    text-decoration: none;
    color: whitesmoke;
}

.botoesCabecalho li:hover{
    padding: 0;
    text-decoration: underline whitesmoke;
    cursor: pointer;
}

.menuToggle {
    display: none;
    position: absolute;
    right: 0;
    height: 60px;
    width: 60px;
    font-size:30px;
    cursor: pointer;
}

@media (max-width: 600px){
    .botoesCabecalho{display: none;}
    .menuToggle{display: inline;}
}